{# templates/usuario/verPerfil.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Perfil{% endblock %}

{% block main %}
    <!--Nav-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('index')}}"> Inicio</a>
            </li>
            <li class="nav-item">
                <a title="Perfil de usuario" class="nav-link" href="#contenidoPrincipal">Perfil</a>
            </li>
        </ul>
    </nav>
    <!--Nav-->
    <!-- Card -->
    <div id="contenidoPrincipal" class="card testimonial-card perfil">
        <!-- Avatar -->
        <div class="avatar mx-auto white">
            {% if usuario.imagenPerfil == NULL %}
                <img title="Avatar" class="avatar" src="{{ asset('images/avatars/User-small.jpg') }}" class="rounded-circle"
            alt="avatar"/>
            {% else %}
                <img title="Avatar" class="avatar" src="{{ asset('subidas/imagenes/' ~ usuario.imagenPerfil) }}" class="rounded-circle"
            alt="avatar"/>
            {% endif %}
        </div>

        <!-- Content -->
        <div class="card-body text-center">
            <!-- Name -->
            <h1 class="card-title h3">{{usuario.firmaUsuario}}</h1>
            <!-- Subtitle -->
            <div class="datos-personales text-muted">
                {% if usuario.nombre == NULL and  usuario.apellidos == NULL %}
                {% else %}
                    {{usuario.nombre}} {{usuario.apellidos}}
                {% endif %}
            </div>
            <ul class="list-unstyled list-inline font-small">
                {% if app.user %}
                    <li class="list-inline-item pr-2 text-dark">
                        <a class="enlace" href ="{{path ('app_perfil_editar',{'id': usuario.id})}}">
                            Editar perfil
                        </a>
                    </li>
                {% endif %}
            </ul>
            <hr>
            <!-- Articles -->
            <h1 class="text-center">
                <a title="Lista de artículos" class="enlace-oscuro" href="#articulo">Artículos</a>
            </h1>
            <ul class="lista-articulos" > 
                {% for articulo in articulos %}
                    <li class="bloque-articulo">
                        <div id="articulo" class="card">
                            <div class="card-header">
                                <h2 class="h3">
                                    <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                        {{articulo.titulo}}
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body">
                                <div class="d-none d-lg-block">
                                    <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                        {% if articulo.imagen == NULL %}
                                            <img title="Portada" class="portada" src="{{ asset('images/image' ~ articulo.categoria.denominacion ~ '.jpg') }}" alt="portada"/>
                                        {% else %}
                                            <img title="Portada" class="portada" src="{{ asset('subidas/imagenes/' ~ articulo.imagen) }}" alt="portada"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <blockquote class="blockquote mb-0">
                                    <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                        <p>{{articulo.sipnosis}}</p>
                                    </a>
                                    <ul class="list-unstyled list-inline text-muted small">
                                        <li class="list-inline-item pr-2">{{articulo.categoria.denominacion}}</li>
                                        <li class="list-inline-item pr-2">{{articulo.idioma.denominacion}}</li>
                                    </ul>                            
                                    <div class="blockquote-footer">
                                        <div class="autor">
                                            {{articulo.autor.firmaUsuario}}
                                        </div> 
                                        <div class="fPublicacion"class="small">Publicado el: {{articulo.fechaPublicacion|date("d-m-Y")}}.</div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li>No hay artículos</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- Card -->
{% endblock %}
