{# templates/usuario/verUsuario.html.twig #}
{% extends 'base.html.twig' %}
{#El bloque de título debería sobreescribirse con el título del artículo#}
{% block title %}
{% if titulo != null %} {{titulo}} - {% endif %}
{{ parent() }}
{% endblock %}

{% block main %}
    <div class="autor">
        {% if articulo.autor.imagenPerfil == NULL %}
            <img src="{{ asset('images/avatars/User-small.jpg') }}"/>
        {% else %}
            <img src="{{ asset('subidas/imagenes/' ~ articulo.autor.imagenPerfil) }}" />
        {% endif %}
        {{articulo.autor.firmaUsuario}}
    </div>
    <ul class="listaArticulos" > 
        {% for articulo in articulos %}
            <li class='bloqueArticulo'>
                <div class="row">
                    <div class="col-md-12 col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">
                                <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                    {{articulo.titulo}}
                                </a>
                            </h3>
                            <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                    <p "card-text mb-auto">{{articulo.sipnosis}}</p>
                            </a>
                            <div class="mb-1 text-muted">Publicado el: {{articulo.fechaPublicacion|date("d-m-Y")}}</div>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            {% if articulo.imagen == NULL %}
                                <img title="Portada" class="portada" src="{{ asset('images/image' ~ articulo.categoria.denominacion ~ '.jpg') }}" alt="portada"/>
                            {% else %}
                                <img title="Portada" class="portada" src="{{ asset('subidas/imagenes/' ~ articulo.imagen) }}" alt="portada"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            <li>No hay artículos</li>
        {% endfor %}
    </ul>
{% endblock %}
