{% extends 'base.html.twig' %}

{% block title %}Formulario de registro{% endblock %}

{% block main %}
    <div class="formulario-formato">
    <h1 class="text-center">Registro</h1>
    <hr>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nombre) }}
        {{ form_row(registrationForm.apellidos) }}
        {{ form_row(registrationForm.firmaUsuario) }}
        {{ form_row(registrationForm.image) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button class="btn btn-md btn-dark btn-block">Registrarse</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
