{% extends 'admin/index.html.twig' %}
{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('admin')}}"> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#categoria">Usuarios</a>
            </li>
        </ul>
    </nav>
    <h1 class="text-center">Usuarios</h1>
    <div class="row m-2">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="cabecera-tabla">
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Nombre de usuario</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            {% if usuario.id == app.user.id %}
                                <tr></tr>
                            {% else %}
                                <tr>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.firmaUsuario}}</td>
                                    <td>{{usuario.nombre}}</td>
                                    <td>{{usuario.apellidos}}</td>
                                    <td> 
                                        <a class="enlace-oscuro" href ="{{path ('app_borrar_usuario_admin',{'id': usuario.id})}}">
                                            Eliminar
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}