{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestor de articulos literarios{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 b">
                <a id="principio" title="Inicio" class="my-0 mr-md-auto font-weight-normal text-white" href="{{ path('index') }}">Gestor de articulos literarios</a>
                <!--Navbar-->
                <nav class="my-2 my-md-0 mr-md-3">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ app.user.firmaUsuario }}
                            <a class="p-2 text-white" href="{{ path('app_nuevo_articulo')}}">Añadir artículo</a>
                            <a class="p-2 text-white" href="{{ path('app_logout') }}"> Desconectar</a>
                        {% else %}
                            <a class="p-2 text-white" href="{{ path('app_login') }}">Iniciar sesión</a>
                            <a class="p-2 text-white" href="{{ path('app_register') }}">Registrarse</a>
                        {% endif %}
                </nav>
                <!--/.Navbar-->
            </div>
        </header>
        <div id="container">
            <div id="main w-100">
            {% block main %}{% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
        <footer id="footer" class="w-100 text-center text-white">
            <p class="text-white">Copyright © 2020 | <span><a href="{{ path('index') }}">Gestor de articulos literarios</a></span>
    	    <p>Realizado por: Gloria Prieto Ortega<p>
            <a class="text-secondary" href="#principio">Arriba</a>
        </footer>
    </body>
</html>
