{# templates/verArticulo.html.twig #}
{% extends 'base.html.twig' %}
{#El bloque de título debería sobreescribirse con el titulo del artículo#}
{% block title %}
{% if titulo != null %} {{titulo}} - {% endif %}
{{ parent() }}
{% endblock %}

{% block main %}
<h2>{{articulo.titulo}}</h2>
<div class='bloqueArticulo'>
    <img src="{{ asset('images/image.jpg') }}" />
    <table id="atributos">
    <tr>
        <td>
            Categoría: {{articulo.categoria.denominacion}}.
        </td>
        <td>
            Idioma: {{articulo.idioma.denominacion}}.
        </td>
    </tr>
    <tr>
        <td>
        Publicada en: {{articulo.fechaPublicacion|date("d-m-Y")}}.
        </td>
    </tr>
    </table>
    <p>{{articulo.redaccion}}</p>
	{#VistaPropietario#}
    <table id="edicion">
    <tr>
        <td>
            <a href ="{{path ('app_articulo_editar',{'id': articulo.id})}}">
                Editar artículo
            </a>
        </td>
        <td>
            <a href ="{{path ('app_articulo_borrar',{'id': articulo.id})}}">
                Borrar artículo
            </a>
        </td>
    </tr>
    </table>   
</div>

{% endblock %}
