{# templates/listaArticulos.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Articulos{% endblock %}
{% block main %}
    <ul class="listaArticulos" > 
    {% for articulo in articulos %}
        <li class='bloqueArticulo'>
        <h3>
	    <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
            {{articulo.titulo}}
	    </a>
	        </h3>
        <div class="autor">
        <img src="{{ asset('images/avatars/User-small.jpg') }}"/>
        {{articulo.autor.firmaUsuario}}
        </div>
        <p class="small">Publicado el: {{articulo.fechaPublicacion|date("d-m-Y")}}.</p>
        <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
            <img src="{{ asset('images/image.jpg') }}" />
    	    
            <p>{{articulo.sipnosis}}</p>
	    </a>
        </li>
    {% else %}
        <li>No hay articulos</li>
    {% endfor %}
    </ul>
{% endblock %}
