{# templates/articulo/listaArticulos.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Articulos por categorías{% endblock %}
{% block main %}
        <!--Nav Categorías-->
        
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('index')}}"> Inicio</a>
            </li>
            <li class="nav-item">
                <a title="Listado según categoría" class="nav-link" href="#contenidoPrincipal">{{categoria.denominacion}}</a>
            </li>
        </ul>
    </nav>
    <ul id="contenidoPrincipal" class="lista-articulos">
        {% for articulo in articulos %}
            <li class="bloque-articulo">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3">
                            <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                {{articulo.titulo}}
                            </a>
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="d-none d-lg-block">
                            <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                {% if articulo.imagen == NULL %}
                                    <img title="Portada" class="portada" src="{{ asset('images/image' ~ articulo.categoria.denominacion ~ '.svg') }}" alt="portada"/>
                                {% else %}
                                    <img title="Portada" class="portada" src="{{ asset('subidas/imagenes/' ~ articulo.imagen) }}" alt="portada"/>
                                {% endif %}
                            </a>
                        </div>
                        <blockquote class="blockquote mb-0">
                            <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                <p>{{articulo.sipnosis}}</p>
                            </a>
                            <ul class="list-unstyled list-inline text-muted small">
                                <li class="list-inline-item pr-2">{{articulo.categoria.denominacion}}</li>
                                <li class="list-inline-item pr-2">{{articulo.idioma.denominacion}}</li>
                            </ul>                            
                            <div class="blockquote-footer">
                                <div class="autor">
                                    {% if articulo.autor.imagenPerfil == NULL %}
                                        <img title="Avatar" class="imagen-perfil" src="{{ asset('images/avatars/User-small.jpg') }}" alt="avatar"/>
                                    {% else %}
                                        <img title="Avatar" class="imagen-perfil" src="{{ asset('subidas/imagenes/' ~ articulo.autor.imagenPerfil) }}" alt="avatar"/>
                                    {% endif %}
                                        {{articulo.autor.firmaUsuario}}
                                </div> 
                                <div class="fPublicacion"class="small">Publicado el: {{articulo.fechaPublicacion|date("d-m-Y")}}.</div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </li>
        {% else %}
            <li>No hay artículos</li>
        {% endfor %}
    </ul>
{% endblock %}
