{# templates/articulo/listaArticulos.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Artículos{% endblock %}
{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" alt="icono"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav md-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle filtro-articulos" data-toggle="dropdown" href="#categorias" role="button" id="dropdownCategorias" aria-haspopup="true"
                        aria-expanded="false">Categorías</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownCategorias">
                            {% for categoria in categorias %}
                                <a class="dropdown-item btn btn-md btn-light btn-block" href="{{ path ('app_articulo_categoria', {'idCat': categoria.id})}}">
                                    {{categoria.denominacion}}
                                </a>
                            {% else %}
                                <li>No hay categorías</li>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle filtro-articulos" data-toggle="dropdown" href="#idiomas" role="button" id="dropdownIdiomas" aria-haspopup="true"
                        aria-expanded="false">Idiomas</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownIdiomas">
                            {% for idioma in idiomas %}
                                <a class="dropdown-item btn btn-md btn-light btn-block" href="{{ path ('app_articulo_idioma', {'id': idioma.id})}}">
                                    {{idioma.denominacion}}
                                </a>
                            {% else %}
                                <li>No hay idiomas</li>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle filtro-articulos" data-toggle="dropdown" href="#autores" role="button" id="dropdownAutores" aria-haspopup="true"
                        aria-expanded="false">Autores</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownAutores">
                            {% for autor in autores %}
                                <a class="dropdown-item btn btn-md btn-light btn-block" href="{{ path ('app_articulo_autor', {'id': autor.id})}}">
                                    {{autor.firmaUsuario}}
                                </a>
                            {% else %}
                                <li>No hay autores</li>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
        </div>
    </nav>
    <div class="lista-articulos">
        <h1 class="h3 mb-4 font-weight-normal text-center">Nuevos artículos</h1>
        <div class="row lista-articulos-nuevos">
            {% for articulo in articulosPorCatActual %}
                <div class="col-12 col-md-3 lista-articulos">
                    <div class="card mb-2 bloque-articulo h-100">
                        <div class="card-header">
                            <h2 class="h3">
                                <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                    {{articulo.titulo}}
                                </a>
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="d-none d-lg-block">
                                <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                    {% if articulo.imagen == NULL %}
                                        <img title="Portada" class="portada-nuevos" src="{{ asset('images/image' ~ articulo.categoria.denominacion ~ '.svg') }}" alt="portada"/>
                                    {% else %}
                                        <img title="Portada" class="portada-nuevos" src="{{ asset('subidas/imagenes/' ~ articulo.imagen) }}" alt="portada"/>
                                    {% endif %}
                                </a>
                            </div>
                            <blockquote class="blockquote mb-0">
                                <ul class="list-unstyled list-inline text-muted small">
                                    <li class="list-inline-item pr-2">{{articulo.categoria.denominacion}}</li>
                                    <li class="list-inline-item pr-2">{{articulo.idioma.denominacion}}</li>
                                </ul>                            
                                <div class="blockquote-footer">
                                    <div class="autor">
                                        {% if articulo.autor.imagenPerfil == NULL %}
                                            <img title="Avatar" class="imagen-perfil" src="{{ asset('images/avatars/User-small.svg') }}" alt="avatar"/>
                                        {% else %}
                                            <img title="Avatar" class="imagen-perfil" src="{{ asset('subidas/imagenes/' ~ articulo.autor.imagenPerfil) }}" alt="avatar"/>
                                        {% endif %}
                                            {{articulo.autor.firmaUsuario}}
                                    </div> 
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No hay artículos<p>
            {% endfor %}
        </div>
    </div>
    <hr>
    <h1 class="h3 mb-4 font-weight-normal text-center">Artículos</h1>
    <ul id="contenidoPrincipal" class="lista-articulos">
        {% for articulo in articulos %}
            <li class="bloque-articulo">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h3">
                            <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                {{articulo.titulo}}
                            </a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="d-none d-lg-block">
                            <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                {% if articulo.imagen == NULL %}
                                    <img title="Portada" class="portada" src="{{ asset('images/image' ~ articulo.categoria.denominacion ~ '.svg') }}" alt="portada"/>
                                {% else %}
                                    <img title="Portada" class="portada" src="{{ asset('subidas/imagenes/' ~ articulo.imagen) }}" alt="portada"/>
                                {% endif %}
                            </a>
                        </div>
                        <blockquote class="blockquote mb-0">
                            <a href="{{ path ('app_articulo_ver', {'id': articulo.id})}}">
                                <p>{{articulo.sipnosis}}</p>
                            </a>
                            <ul class="list-unstyled list-inline text-muted small">
                                <li class="list-inline-item pr-2">{{articulo.categoria.denominacion}}</li>
                                <li class="list-inline-item pr-2">{{articulo.idioma.denominacion}}</li>
                            </ul>                            
                            <div class="blockquote-footer">
                                <div class="autor">
                                    {% if articulo.autor.imagenPerfil == NULL %}
                                        <img title="Avatar" class="imagen-perfil" src="{{ asset('images/avatars/User-small.svg') }}" alt="avatar"/>
                                    {% else %}
                                        <img title="Avatar" class="imagen-perfil" src="{{ asset('subidas/imagenes/' ~ articulo.autor.imagenPerfil) }}" alt="avatar"/>
                                    {% endif %}
                                        {{articulo.autor.firmaUsuario}}
                                </div> 
                                <div class="fPublicacion"class="small">Publicado el: {{articulo.fechaPublicacion|date("d-m-Y")}}.</div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </li>
        {% else %}
            <li>No hay artículos</li>
        {% endfor %}
    </ul>
{% endblock %}
