{# templates/articulo/verArticulo.html.twig #}
{% extends 'base.html.twig' %}
{#El bloque de título debería sobreescribirse con el título del artículo#}
{% block title %}
{% if titulo != null %} {{titulo}} - {% endif %}
{{ parent() }}
{% endblock %}

{% block main %}
    <!--Card-->
    <div class="card articulo">
        <!--Title-->
        <h1 class=" card-title text-center h4">
            <a title="Articulo" class="enlace-oscuro" href="#contenidoPrincipal">
                    <strong>{{articulo.titulo}}</strong>
            </a>
        </h1>
        <!--Card image-->
        <div class="rounded mx-auto d-block" alt="cover">
                {% if articulo.imagen == NULL %}
                    <img title="Portada" class="portada" src="{{ asset('images/image' ~ articulo.categoria.denominacion ~ '.jpg') }}" alt="portada"/>
                {% else %}
                    <img title="Portada" class="portada-articulo" src="{{ asset('subidas/imagenes/' ~ articulo.imagen) }}" alt="portada"/>
                {% endif %}
        </div>

        <!--Card content-->
        <div id="contenidoPrincipal" class="card-body">
            <div class="text-center">
                <ul class="card-meta list-unstyled list-inline text-muted">
                    <li class="list-inline-item pr-2">{{articulo.categoria.denominacion}}</li>
                    <li class="list-inline-item pr-2">{{articulo.idioma.denominacion}}</li>
                </ul>
            </div>
            <a class="enlace-oscuro" href ="{{path ('app_articulo_pdf',{'id': articulo.id})}}">
                                Ver artículo en pdf
            </a>
            <!--Text-->
            {% if articulo.categoria.denominacion == "Poema" %}
                <p class="card-text articulo-redaccion text-center">
            {% else %}
                <p class="card-text articulo-redaccion">
            {% endif %}
                {{articulo.redaccion}}</p>
            <hr>
            <div class="card-meta text-center autor">
                {% if articulo.autor.imagenPerfil == NULL %}
                    <img title="Avatar" class="imagen-perfil" src="{{ asset('images/avatars/User-small.jpg') }}" alt="avatar"/>
                {% else %}
                    <img title="Avatar" class="imagen-perfil" src="{{ asset('subidas/imagenes/' ~ articulo.autor.imagenPerfil) }}" alt="avatar"/>
                {% endif %}
                {{articulo.autor.firmaUsuario}}
                <p class="card-meta text-muted">Publicado el: {{articulo.fechaPublicacion|date("d-m-Y")}}</p>
            </div>
        </div>
        <!--Card footer-->
        <div class="card-footer bg-white">
            <div class="text-center">
                <ul class="list-unstyled list-inline font-small">
                    {% if is_granted('edit', articulo) %}
                        <li class="list-inline-item pr-2 text-dark">
                            <a class="enlace" href ="{{path ('app_articulo_editar',{'id': articulo.id})}}">
                                Editar artículo
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('delete',articulo) %}
                        <li class="list-inline-item pr-2 text-dark">
                            <a class="enlace" href ="{{path ('app_articulo_borrar',{'id': articulo.id})}}">
                                Borrar artículo
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>   
{% endblock %}
