{# templates/verArticulo.html.twig #}
{% extends 'base.html.twig' %}
{#El bloque de título debería sobreescribirse con el titulo del artículo#}
{% block title %}
{% if titulo != null %} {{titulo}} - {% endif %}
{{ parent() }}
{% endblock %}

{% block main %}
    <table id="atributos">
    <tr>
        <th>{{articulo.titulo}}</th>
    </tr>
    <tr>
        <td><img src="{{ asset('images/avatars/User-small.jpg') }}" /></td>
        <td><img src="{{ asset('public/uploads/images/' ~ articulo.autor.imagenPerfil) }}"></a>
</td>
        <td>{{articulo.autor.firmaUsuario}}</td>
    </tr>
    <tr>
        <td>
            {{articulo.categoria.denominacion}}
        </td>
        <td>
            {{articulo.idioma.denominacion}}
        </td>
    </tr>
    <tr>
        <td>
        Fecha de publicación: {{articulo.fechaPublicacion|date("d-m-Y")}}.
        </td>
    </tr>
    </table>
<div class='bloqueArticulo'>
    <img src="{{ asset('images/image.jpg') }}" />
    <p>{{articulo.redaccion}}</p>
{#Para indicar que solo lo vean aquellos que esten logados, sin especificar roles#}
    <table id="edicion">
        <tr>
            {% if is_granted('edit', articulo) %}
            <td>
                <a href ="{{path ('app_articulo_editar',{'id': articulo.id})}}">
                    Editar artículo
                </a>
            </td>
            {% endif %}
            {% if is_granted('delete',articulo) %}
            <td>
                <a href ="{{path ('app_articulo_borrar',{'id': articulo.id})}}">
                    Borrar artículo
                </a>
            </td>
        </tr>
    {% endif %}
    </table> 

  
</div>

{% endblock %}
