{# templates/verArticulo.html.twig #}
{% extends 'base.html.twig' %}
{#El bloque de título debería sobreescribirse con el titulo del artículo#}
{% block title %}
{% if titulo != null %} {{titulo}} - {% endif %}
{{ parent() }}
{% endblock %}

{% block main %}
<h2>{{articulo.titulo}}</h2>
    <table id="atributos">
    <tr>
        <th colspan="4">{{articulo.titulo}}</th>
    </tr>
    <tr>
        <td colspan="1"><img src="{{ asset('images/avatars/User-small.jpg') }}" /></td>
        <td colspan="3">{{articulo.autor.firmaUsuario}}</td>
    </tr>
    <tr>
        <td colspan="2">
            {{articulo.categoria.denominacion}}
        </td>
        <td colspan="2">
            {{articulo.idioma.denominacion}}
        </td>
    </tr>
    <tr>
        <td>
        Fecha de publicación: {{articulo.fechaPublicacion|date("d-m-Y")}}.
        </td>
    </tr>
    </table>
<div class='bloqueArticulo'>
    <img src="{{ asset('images/image.jpg') }}" />
    <p>{{articulo.redaccion}}</p>
{% if app.user %}
    <table id="edicion">
        <tr>
            <td>
                <a href ="{{path ('app_articulo_editar',{'id': articulo.id})}}">
                    Editar artículo
                </a>
            </td>
            <td>
                <a href ="{{path ('app_articulo_borrar',{'id': articulo.id})}}">
                    Borrar artículo
                </a>
            </td>
        </tr>
    </table> 
{% endif %}
  
</div>

{% endblock %}
