{# templates/articulo/verArticulo.html.twig #}
{% extends 'base.html.twig' %}
{#El bloque de título debería sobreescribirse con el titulo del artículo#}
{% block title %}
{% if titulo != null %} {{titulo}} - {% endif %}
{{ parent() }}
{% endblock %}

{% block main %}
    <!--Card-->
    <div class="card articulo">
        <!--Title-->
            <h4 class="card-title text-center"><strong>{{articulo.titulo}}</strong></h4>
        <!--Card image-->
        <div class="img-fluid">
            <div class="card-img-top" alt="cover">
                    {% if articulo.imagen == NULL %}
                        <img class="card-img-top portada-articulo" src="{{ asset('images/image.jpg') }}" />
                    {% else %}
                        <img class="card-img-top portada-articulo" src="{{ asset('subidas/imagenes/' ~ articulo.imagen) }}" />
                    {% endif %}
            </div>
        </div>

        <!--Card content-->
        <div class="card-body">
            <div class="text-center">
                <ul class="card-meta list-unstyled list-inline text-muted">
                    <li class="list-inline-item pr-2">{{articulo.categoria.denominacion}}</li>
                    <li class="list-inline-item pr-2">{{articulo.idioma.denominacion}}</li>
                </ul>
            </div>
            <!--Text-->
            {% if articulo.categoria.denominacion == "Poema" %}
                <p class="card-text articulo-redaccion text-center">
            {% else %}
                <p class="card-text articulo-redaccion">
            {% endif %}
                {{articulo.redaccion}}</p>
            <hr>
            <div class="card-meta text-center autor">
                {% if articulo.autor.imagenPerfil == NULL %}
                    <img class="imagen-perfil" src="{{ asset('images/avatars/User-small.jpg') }}"/>
                {% else %}
                    <img class="imagen-perfil" src="{{ asset('subidas/imagenes/' ~ articulo.autor.imagenPerfil) }}" />
                {% endif %}
                {{articulo.autor.firmaUsuario}}
                <p class="card-meta text-muted">Publicado el: {{articulo.fechaPublicacion|date("d-m-Y")}}</p>
            </div>
        </div>
    </div>
    <!--/.Card-->
    <!-- Card v2 
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title"><strong>{{articulo.titulo}}</strong></h3>
            <ul class="list-unstyled list-inline text-muted font-small">
                <li class="list-inline-item pr-2">{{articulo.categoria.denominacion}}</li>
                <li class="list-inline-item pr-2">{{articulo.idioma.denominacion}}</li>
            </ul>
            <div class="autor">
                {% if articulo.autor.imagenPerfil == NULL %}
                    <img src="{{ asset('images/avatars/User-small.jpg') }}"/>
                {% else %}
                    <img src="{{ asset('subidas/imagenes/' ~ articulo.autor.imagenPerfil) }}" />
                {% endif %}
                {{articulo.autor.firmaUsuario}}
                <div class="mb-1 text-muted">Publicado el: {{articulo.fechaPublicacion|date("d-m-Y")}}</div>
            </div> 
            <div class="img-fluid">
                <div class="card-img-top" alt="cover">
                        {% if articulo.imagen == NULL %}
                            <img class="card-img-top cover w-100" src="{{ asset('images/image.jpg') }}" />
                        {% else %}
                            <img class="card-img-top cover w-100" src="{{ asset('subidas/imagenes/' ~ articulo.imagen) }}" />
                        {% endif %}
                </div>
            </div>
            <p class="card-text articulo-redaccion">{{articulo.redaccion}}</p>
            </div>
            </div> -->
            <ul class="list-unstyled list-inline font-small">
                {% if is_granted('edit', articulo) %}
                    <li class="list-inline-item pr-2 text-dark">
                        <a href ="{{path ('app_articulo_editar',{'id': articulo.id})}}">
                            Editar artículo
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('delete',articulo) %}
                    <li class="list-inline-item pr-2 text-dark">
                        <a href ="{{path ('app_articulo_borrar',{'id': articulo.id})}}">
                            Borrar artículo
                        </a>
                    </li>
                {% endif %}
            </ul>
    
{% endblock %}
